@charset "UTF-8";

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.swiper-button-next::after,
.swiper-button-prev::after,
.targetsmobile__title-lamp::before,
.targetsmobile__title-philosophy::before,
.targetsmobile__title-target::before,
.targets__link-icon3::before,
.targets__link-icon2::before,
.targets__link-icon1::before,
.scroll__text::after,
.header__telephone::before,
.header__mail::before,
.item__title-lamp::before,
.item__title-philosophy::before,
.item__title-target::before,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-facebook:before {
  content: "\e900";
}

._icon-instagram:before {
  content: "\e901";
}

._icon-linkedin:before {
  content: "\e902";
}

._icon-vk:before {
  content: "\e903";
}

._icon-twitter:before {
  content: "\e904";
}

._icon-mail:before {
  content: "\e905";
}

._icon-telephone:before {
  content: "\e906";
}

._icon-target:before {
  content: "\e907";
}

._icon-philosophy:before {
  content: "\e908";
}

._icon-lamp:before {
  content: "\e909";
}

._icon-arrowbigleft:before {
  content: "\e90a";
}

._icon-arrowbigright:before {
  content: "\e90b";
}

._icon-arrowbigbottom:before {
  content: "\e90c";
}

._icon-arrowbigtop:before {
  content: "\e90d";
}

._icon-roundarrowleft:before {
  content: "\e90e";
}

._icon-roundarrowright:before {
  content: "\e90f";
}

._icon-cursor:before {
  content: "\e910";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 108.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  position: relative;
  text-align: center;
  left: 100%;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.9375rem;
}

.item__our {
  padding-left: 1.875rem;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  font-weight: 700;
  font-size: 2.8125rem;
  text-transform: uppercase;
  line-height: 122%;
  letter-spacing: 0.07em;
  color: #eee;
  text-shadow: 0 -1px 0 #383838, 0 -1px 0 #383838, 0 1px 0 #383838, 0 1px 0 #383838, -1px 0 0 #383838, 1px 0 0 #383838, -1px 0 0 #383838, 1px 0 0 #383838, -1px -1px 0 #383838, 1px -1px 0 #383838, -1px 1px 0 #383838, 1px 1px 0 #383838, -1px -1px 0 #383838, 1px -1px 0 #383838, -1px 1px 0 #383838, 1px 1px 0 #383838;
}

@supports (font-size: clamp( 1.375rem , 0.2273908524rem  +  2.3908523909vw , 2.8125rem )) {
  .item__our {
    font-size: clamp( 1.375rem , 0.2273908524rem  +  2.3908523909vw , 2.8125rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 0.2273908524rem  +  2.3908523909vw , 2.8125rem )) {
  .item__our {
    font-size: calc(1.375rem + 1.4375 * (100vw - 48rem) / 60.125);
  }
}

.item__title {
  font-weight: 700;
  font-size: 2.8125rem;
  text-transform: uppercase;
  line-height: 122%;
  letter-spacing: 0.07em;
  color: #D03333;
  position: relative;
  padding-bottom: 1.25rem;
}

@supports (font-size: clamp( 1.375rem , 0.2273908524rem  +  2.3908523909vw , 2.8125rem )) {
  .item__title {
    font-size: clamp( 1.375rem , 0.2273908524rem  +  2.3908523909vw , 2.8125rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 0.2273908524rem  +  2.3908523909vw , 2.8125rem )) {
  .item__title {
    font-size: calc(1.375rem + 1.4375 * (100vw - 48rem) / 60.125);
  }
}

.item__text {
  font-style: italic;
  font-weight: 500;
  color: #18191A;
  font-size: 1.125rem;
}

.item__title-target::before {
  content: "\e907";
  padding-right: 1%;
  font-size: 2.5rem;
}

.item__text-target {
  line-height: 130%;
}

.item__title-philosophy::before {
  content: "\e908";
  padding-right: 1%;
  font-weight: 700;
}

.item__text-philosophy {
  line-height: 130%;
}

.item__title-lamp::before {
  content: "\e909";
  padding-right: 1%;
}

.item__text-lamp {
  line-height: 150%;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.counter__text,
.counter__count,
.counter__title,
.button,
.swiper-pagination,
.list__items,
.list__title,
.services__slide-text,
.services__slide-title,
.targetsmobile__text,
.targetsmobile__title,
.targetsmobile__our,
.targets__link,
.scroll__text,
.fullscreenblock__text,
.fullscreenblock__title,
.menu__link,
.header_contacts,
.item__our,
.item__title,
.item__text {
  font-family: Montserrat;
}

.header {
  background-color: white;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header._header-scroll {
  position: fixed;
  top: -200%;
  background-color: rgba(255, 255, 255, 0.8);
}

.header._header-show {
  top: 0;
  -webkit-transition: top 0.3s ease 0s;
  -o-transition: top 0.3s ease 0s;
  transition: top 0.3s ease 0s;
}

.header_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (height: clamp( 4.6875rem , 0.9452962578rem  +  7.7962577963vw , 9.375rem )) {
  .header_column {
    height: clamp( 4.6875rem , 0.9452962578rem  +  7.7962577963vw , 9.375rem );
  }
}

@supports not (height: clamp( 4.6875rem , 0.9452962578rem  +  7.7962577963vw , 9.375rem )) {
  .header_column {
    height: calc(4.6875rem + 4.6875 * (100vw - 48rem) / 60.125);
  }
}

.header_contacts {
  position: relative;
  z-index: 2;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 122%;
  color: #18191A;
  padding-right: 50px;
}

@supports (font-size: clamp( 0.5625rem , 0.1134355509rem  +  0.9355509356vw , 1.125rem )) {
  .header_contacts {
    font-size: clamp( 0.5625rem , 0.1134355509rem  +  0.9355509356vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.5625rem , 0.1134355509rem  +  0.9355509356vw , 1.125rem )) {
  .header_contacts {
    font-size: calc(0.5625rem + 0.5625 * (100vw - 48rem) / 60.125);
  }
}

.header__logo {
  position: relative;
  z-index: 2;
}

.header__image {
  max-height: 70px;
}

@supports (max-height: clamp( 1.875rem , -0.1208419958rem  +  4.158004158vw , 4.375rem )) {
  .header__image {
    max-height: clamp( 1.875rem , -0.1208419958rem  +  4.158004158vw , 4.375rem );
  }
}

@supports not (max-height: clamp( 1.875rem , -0.1208419958rem  +  4.158004158vw , 4.375rem )) {
  .header__image {
    max-height: calc(1.875rem + 2.5 * (100vw - 48rem) / 60.125);
  }
}

.header__mail {
  display: block;
}

.header__mail::before {
  content: "\e905";
  padding-right: 10px;
  position: relative;
  top: 2px;
}

.header__telephone {
  display: block;
}

.header__telephone::before {
  content: "\e906";
  padding-right: 10px;
  position: relative;
  top: 2px;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item:not(:last-child) {
  padding-right: 4.8125rem;
}

@supports (padding-right: clamp( 1.875rem , -0.4701143451rem  +  4.8856548857vw , 4.8125rem )) {
  .menu__item:not(:last-child) {
    padding-right: clamp( 1.875rem , -0.4701143451rem  +  4.8856548857vw , 4.8125rem );
  }
}

@supports not (padding-right: clamp( 1.875rem , -0.4701143451rem  +  4.8856548857vw , 4.8125rem )) {
  .menu__item:not(:last-child) {
    padding-right: calc(1.875rem + 2.9375 * (100vw - 48rem) / 60.125);
  }
}

.menu__link {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 122%;
  color: #18191A;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

@supports (font-size: clamp( 0.5625rem , 0.1134355509rem  +  0.9355509356vw , 1.125rem )) {
  .menu__link {
    font-size: clamp( 0.5625rem , 0.1134355509rem  +  0.9355509356vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.5625rem , 0.1134355509rem  +  0.9355509356vw , 1.125rem )) {
  .menu__link {
    font-size: calc(0.5625rem + 0.5625 * (100vw - 48rem) / 60.125);
  }
}

@supports (padding-left: clamp( 0.9375rem , 0.1890592516rem  +  1.5592515593vw , 1.875rem )) {
  .menu__link {
    padding-left: clamp( 0.9375rem , 0.1890592516rem  +  1.5592515593vw , 1.875rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , 0.1890592516rem  +  1.5592515593vw , 1.875rem )) {
  .menu__link {
    padding-left: calc(0.9375rem + 0.9375 * (100vw - 48rem) / 60.125);
  }
}

@supports (padding-right: clamp( 0.9375rem , 0.1890592516rem  +  1.5592515593vw , 1.875rem )) {
  .menu__link {
    padding-right: clamp( 0.9375rem , 0.1890592516rem  +  1.5592515593vw , 1.875rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , 0.1890592516rem  +  1.5592515593vw , 1.875rem )) {
  .menu__link {
    padding-right: calc(0.9375rem + 0.9375 * (100vw - 48rem) / 60.125);
  }
}

.icon-menu {
  display: none;
}

.mainpage__fullscreenblock {
  padding-top: 9.375rem;
}

@supports (padding-top: clamp( 6.5625rem , 5.9375rem  +  3.125vw , 9.375rem )) {
  .mainpage__fullscreenblock {
    padding-top: clamp( 6.5625rem , 5.9375rem  +  3.125vw , 9.375rem );
  }
}

@supports not (padding-top: clamp( 6.5625rem , 5.9375rem  +  3.125vw , 9.375rem )) {
  .mainpage__fullscreenblock {
    padding-top: calc(6.5625rem + 2.8125 * (100vw - 20rem) / 90);
  }
}

.fullscreenblock__decor {
  position: absolute;
  z-index: -2;
  width: 736px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: contain;
  height: 842px;
  background-image: url("../img/decor2.svg");
  background-repeat: no-repeat;
  background-position: 0 -24px;
  -webkit-transform: translate(-95px, 0);
      -ms-transform: translate(-95px, 0);
          transform: translate(-95px, 0);
}

@supports (width: clamp( 12.5rem , -30.2375415282rem  +  89.0365448505vw , 46rem )) {
  .fullscreenblock__decor {
    width: clamp( 12.5rem , -30.2375415282rem  +  89.0365448505vw , 46rem );
  }
}

@supports not (width: clamp( 12.5rem , -30.2375415282rem  +  89.0365448505vw , 46rem )) {
  .fullscreenblock__decor {
    width: calc(12.5rem + 33.5 * (100vw - 48rem) / 37.625);
  }
}

.fullscreenblock__line {
  position: absolute;
  z-index: -1;
  width: 1049px;
  height: 1314px;
  background-image: url("../img/linedeocr.svg");
  background-repeat: no-repeat;
  background-position: -100px 150px;
  background-size: contain;
}

@supports (width: clamp( 43.75rem , -13.2847955145rem  +  92.0844327177vw , 65.5625rem )) {
  .fullscreenblock__line {
    width: clamp( 43.75rem , -13.2847955145rem  +  92.0844327177vw , 65.5625rem );
  }
}

@supports not (width: clamp( 43.75rem , -13.2847955145rem  +  92.0844327177vw , 65.5625rem )) {
  .fullscreenblock__line {
    width: calc(43.75rem + 21.8125 * (100vw - 61.9375rem) / 23.6875);
  }
}

.fullscreenblock__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.fullscreenblock__textblock {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.fullscreenblock__imageblock {
  padding-right: 4.375rem;
  padding-left: 4.375rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  height: 100%;
}

@supports (padding-right: clamp( 2.1875rem , 1.7013888889rem  +  2.4305555556vw , 4.375rem )) {
  .fullscreenblock__imageblock {
    padding-right: clamp( 2.1875rem , 1.7013888889rem  +  2.4305555556vw , 4.375rem );
  }
}

@supports not (padding-right: clamp( 2.1875rem , 1.7013888889rem  +  2.4305555556vw , 4.375rem )) {
  .fullscreenblock__imageblock {
    padding-right: calc(2.1875rem + 2.1875 * (100vw - 20rem) / 90);
  }
}

@supports (padding-left: clamp( 2.1875rem , 1.7013888889rem  +  2.4305555556vw , 4.375rem )) {
  .fullscreenblock__imageblock {
    padding-left: clamp( 2.1875rem , 1.7013888889rem  +  2.4305555556vw , 4.375rem );
  }
}

@supports not (padding-left: clamp( 2.1875rem , 1.7013888889rem  +  2.4305555556vw , 4.375rem )) {
  .fullscreenblock__imageblock {
    padding-left: calc(2.1875rem + 2.1875 * (100vw - 20rem) / 90);
  }
}

.fullscreenblock__container {
  position: relative;
}

.fullscreenblock__title {
  font-weight: 700;
  font-size: 7rem;
  line-height: 96.9%;
  color: #D03333;
  text-transform: uppercase;
}

@supports (font-size: clamp( 3.5rem , 0.7058212058rem  +  5.8212058212vw , 7rem )) {
  .fullscreenblock__title {
    font-size: clamp( 3.5rem , 0.7058212058rem  +  5.8212058212vw , 7rem );
  }
}

@supports not (font-size: clamp( 3.5rem , 0.7058212058rem  +  5.8212058212vw , 7rem )) {
  .fullscreenblock__title {
    font-size: calc(3.5rem + 3.5 * (100vw - 48rem) / 60.125);
  }
}

.fullscreenblock__text {
  font-weight: 400;
  font-size: 4.75rem;
  line-height: 96.9%;
  color: #18191A;
}

@supports (font-size: clamp( 2.375rem , 0.478950104rem  +  3.9501039501vw , 4.75rem )) {
  .fullscreenblock__text {
    font-size: clamp( 2.375rem , 0.478950104rem  +  3.9501039501vw , 4.75rem );
  }
}

@supports not (font-size: clamp( 2.375rem , 0.478950104rem  +  3.9501039501vw , 4.75rem )) {
  .fullscreenblock__text {
    font-size: calc(2.375rem + 2.375 * (100vw - 48rem) / 60.125);
  }
}

.fullscreenblock__image {
  width: 100%;
  min-width: 150px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fullscreenblock__scroll {
  position: absolute;
  bottom: 0;
  right: 15px;
}

.scroll__text {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  color: #18191A;
  font-size: 0.75rem;
  font-weight: 400;
}

.scroll__text::after {
  content: "\e90c";
  padding-top: 10px;
  font-size: 1rem;
}

.targets {
  padding-top: 8.125rem;
}

.targets__container {
  position: relative;
}

.targets__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.targets__our {
  padding-left: 3.125rem;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.targets__item:not(:last-child) {
  padding-bottom: 0.375rem;
}

.targets__link {
  font-weight: 700;
  font-size: 2.8125rem;
  text-transform: uppercase;
  line-height: 122%;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 #383838, 0 -1px 0 #383838, 0 1px 0 #383838, 0 1px 0 #383838, -1px 0 0 #383838, 1px 0 0 #383838, -1px 0 0 #383838, 1px 0 0 #383838, -1px -1px 0 #383838, 1px -1px 0 #383838, -1px 1px 0 #383838, 1px 1px 0 #383838, -1px -1px 0 #383838, 1px -1px 0 #383838, -1px 1px 0 #383838, 1px 1px 0 #383838;
}

@supports (font-size: clamp( 1.375rem , 0.2273908524rem  +  2.3908523909vw , 2.8125rem )) {
  .targets__link {
    font-size: clamp( 1.375rem , 0.2273908524rem  +  2.3908523909vw , 2.8125rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 0.2273908524rem  +  2.3908523909vw , 2.8125rem )) {
  .targets__link {
    font-size: calc(1.375rem + 1.4375 * (100vw - 48rem) / 60.125);
  }
}

.targets__link-icon1 {
  position: relative;
}

.targets__link-icon1::before {
  content: "\e907";
  color: #383838;
  text-shadow: none;
  padding-right: 5%;
}

.targets__link-icon2 {
  position: relative;
}

.targets__link-icon2::before {
  content: "\e908";
  color: #383838;
  text-shadow: none;
  padding-right: 5%;
  font-weight: 700;
}

.targets__link-icon3 {
  position: relative;
}

.targets__link-icon3::before {
  content: "\e909";
  color: #383838;
  text-shadow: none;
  padding-right: 5%;
}

.targets__round {
  position: absolute;
  z-index: -2;
  width: 346px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: contain;
  height: 176px;
  background-image: url("../img/decorround.svg");
  background-repeat: no-repeat;
  left: -95px;
}

@supports (height: clamp( 5.9375rem , 1.8959199584rem  +  8.41995842vw , 11rem )) {
  .targets__round {
    height: clamp( 5.9375rem , 1.8959199584rem  +  8.41995842vw , 11rem );
  }
}

@supports not (height: clamp( 5.9375rem , 1.8959199584rem  +  8.41995842vw , 11rem )) {
  .targets__round {
    height: calc(5.9375rem + 5.0625 * (100vw - 48rem) / 60.125);
  }
}

.targets__symbol {
  position: absolute;
  right: -95px;
  z-index: -2;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: contain;
  height: 176px;
  background-image: url("../img/symbol.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@supports (width: clamp( 4.375rem , -2.1114864865rem  +  13.5135135135vw , 12.5rem )) {
  .targets__symbol {
    width: clamp( 4.375rem , -2.1114864865rem  +  13.5135135135vw , 12.5rem );
  }
}

@supports not (width: clamp( 4.375rem , -2.1114864865rem  +  13.5135135135vw , 12.5rem )) {
  .targets__symbol {
    width: calc(4.375rem + 8.125 * (100vw - 48rem) / 60.125);
  }
}

.targetsmobile__our {
  padding-bottom: 2.8125rem;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 122%;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 #383838, 0 -1px 0 #383838, 0 1px 0 #383838, 0 1px 0 #383838, -1px 0 0 #383838, 1px 0 0 #383838, -1px 0 0 #383838, 1px 0 0 #383838, -1px -1px 0 #383838, 1px -1px 0 #383838, -1px 1px 0 #383838, 1px 1px 0 #383838, -1px -1px 0 #383838, 1px -1px 0 #383838, -1px 1px 0 #383838, 1px 1px 0 #383838;
}

.targetsmobile__block:not(:last-child) {
  padding-bottom: 1.25rem;
}

.targetsmobile__title {
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 122%;
  letter-spacing: 0.07em;
  color: #D03333;
  position: relative;
  padding-bottom: 0.75rem;
}

.targetsmobile__title-target::before {
  content: "\e907";
  padding-right: 1%;
  font-size: 1.875rem;
}

.targetsmobile__text {
  font-style: italic;
  font-weight: 500;
  color: #18191A;
  font-size: 1.125rem;
  line-height: 110%;
}

.targetsmobile__title-philosophy::before {
  content: "\e908";
  padding-right: 1%;
  font-weight: 700;
}

.targetsmobile__title-lamp::before {
  content: "\e909";
  padding-right: 1%;
}

.services {
  position: relative;
  background-image: url("../img/background1.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-top: 7.5625rem;
  height: 1082px;
}

.services__background1 {
  position: absolute;
  background-image: url("../img/decor3.svg");
  background-repeat: no-repeat;
  height: 48.6875rem;
  width: 26.8125rem;
  z-index: -4;
  right: -82px;
  top: -580px;
}

@supports (top: clamp( -36.25rem , -32.7992021277rem  +  -3.1914893617vw , -33.4375rem )) {
  .services__background1 {
    top: clamp( -36.25rem , -32.7992021277rem  +  -3.1914893617vw , -33.4375rem );
  }
}

@supports not (top: clamp( -36.25rem , -32.7992021277rem  +  -3.1914893617vw , -33.4375rem )) {
  .services__background1 {
    top: calc(-33.4375rem + -2.8125 * (100vw - 20rem) / 88.125);
  }
}

.services__container {
  position: relative;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.services__list {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  padding-top: 15.625rem;
  padding-bottom: 4.1875rem;
  padding-left: 11.5625rem;
}

.services__karusel {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
  overflow: hidden;
  z-index: 5;
  padding-left: 5px;
}

.services__slider {
  position: relative;
}

.services__slider::before {
  content: "";
  position: absolute;
  width: 824px;
  height: 364px;
  border: 1px solid #6E6E6E;
  border-radius: 0px 0px 0px 86px;
  bottom: 0.75rem;
}

.services__slide {
  padding-top: 23.125rem;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 88px 364px;
  grid-template-rows: 88px 364px;
}

.services__button {
  margin-top: 4.1875rem;
  position: relative;
  left: 76%;
}

.services__slide-title {
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 122%;
  letter-spacing: 0.085em;
  color: #2A2C31;
  text-shadow: 0 -1px 0 #FFFFFF, 0 -1px 0 #FFFFFF, 0 1px 0 #FFFFFF, 0 1px 0 #FFFFFF, -1px 0 0 #FFFFFF, 1px 0 0 #FFFFFF, -1px 0 0 #FFFFFF, 1px 0 0 #FFFFFF, -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF, -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}

.services__slide-text {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 177.4%;
  color: #FFFFFF;
  padding-left: 3.75rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 44.375rem;
}

.services__slide-imagebox {
  position: absolute;
  top: 20rem;
  left: 34.375rem;
  max-width: 25rem;
  max-height: 25rem;
  padding: 1.25rem;
}

.services__slide-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.list__title {
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 122%;
  color: #D03333;
  padding-bottom: 7.5rem;
  position: relative;
  z-index: 1;
}

@supports (font-size: clamp( 2.5rem , 2.0161290323rem  +  1.0080645161vw , 3.125rem )) {
  .list__title {
    font-size: clamp( 2.5rem , 2.0161290323rem  +  1.0080645161vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 2.5rem , 2.0161290323rem  +  1.0080645161vw , 3.125rem )) {
  .list__title {
    font-size: calc(2.5rem + 0.625 * (100vw - 48rem) / 62);
  }
}

.no-webp .list__title::before{
  background-image: url("../img/backgtitile.png"); }

.list__title::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  height: 320px;
  width: 710px;
  z-index: -1;
  -webkit-transform: translate(-39%, -28%);
      -ms-transform: translate(-39%, -28%);
          transform: translate(-39%, -28%);
}

@supports (height: clamp( 13.75rem , 8.9112903226rem  +  10.0806451613vw , 20rem )) {
  .list__title::before {
    height: clamp( 13.75rem , 8.9112903226rem  +  10.0806451613vw , 20rem );
  }
}

@supports not (height: clamp( 13.75rem , 8.9112903226rem  +  10.0806451613vw , 20rem )) {
  .list__title::before {
    height: calc(13.75rem + 6.25 * (100vw - 48rem) / 62);
  }
}

.list__items {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 240%;
  color: #FFFFFF;
}

.swiper-wrapper {
  max-width: 1000px;
  max-height: 1000px;
}

.swiper-pagination {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 122%;
  color: #FFFFFF;
  position: relative;
  left: 746px;
}

.swiper-button-prev {
  position: relative;
  bottom: 20px;
  left: 720px;
}

.swiper-button-prev::after {
  content: "\e90e";
  font-size: 1.125rem;
}

.swiper-button-prev:hover {
  color: #D03333;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper-button-next {
  position: relative;
  bottom: 20px;
  left: 742px;
}

.swiper-button-next::after {
  content: "\e90f";
  font-size: 1.125rem;
}

.button {
  font-size: 1.125rem;
  line-height: 122%;
  color: #FFFFFF;
  background-color: #D03333;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  padding-top: 1.1875rem;
  padding-bottom: 1.1875rem;
  border-radius: 30px 0px;
}

.bold {
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.counter__container {
  position: relative;
}

.no-webp .counter__bacgrounddecor{
  background-image: url("../img/backgroundcounter.png"); }

.counter__bacgrounddecor {
  z-index: -1;
  position: absolute;
  background-repeat: no-repeat;
  left: -82px;
  top: -220px;
  width: 1696px;
  height: 1136px;
}

.counter__linedecor {
  z-index: 1;
  position: absolute;
  background-image: url("../img/linedeocrcounter.svg");
  background-repeat: no-repeat;
  left: -82px;
  top: -20px;
  width: 1822px;
  height: 887px;
}

.counter__content {
  padding-top: 10.3125rem;
  padding-bottom: 10.3125rem;
}

.counter__title {
  color: #18191A;
  font-weight: 500;
  font-size: 2.625rem;
  line-height: 121%;
  padding-bottom: 2.125rem;
  text-align: center;
}

@supports (font-size: clamp( 1.6875rem , 0.9616935484rem  +  1.5120967742vw , 2.625rem )) {
  .counter__title {
    font-size: clamp( 1.6875rem , 0.9616935484rem  +  1.5120967742vw , 2.625rem );
  }
}

@supports not (font-size: clamp( 1.6875rem , 0.9616935484rem  +  1.5120967742vw , 2.625rem )) {
  .counter__title {
    font-size: calc(1.6875rem + 0.9375 * (100vw - 48rem) / 62);
  }
}

.counter__counts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.counter__block:not(:last-child) {
  padding-right: 5.3125rem;
}

.counter__numplus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.counter__count {
  color: #D03333;
  font-weight: 700;
  font-size: 6.25rem;
  line-height: 122%;
  letter-spacing: 0.085em;
}

@supports (font-size: clamp( 3.75rem , 1.814516129rem  +  4.0322580645vw , 6.25rem )) {
  .counter__count {
    font-size: clamp( 3.75rem , 1.814516129rem  +  4.0322580645vw , 6.25rem );
  }
}

@supports not (font-size: clamp( 3.75rem , 1.814516129rem  +  4.0322580645vw , 6.25rem )) {
  .counter__count {
    font-size: calc(3.75rem + 2.5 * (100vw - 48rem) / 62);
  }
}

.counter__text {
  color: #18191A;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 240%;
}

@supports (font-size: clamp( 0.9375rem , 0.6955645161rem  +  0.5040322581vw , 1.25rem )) {
  .counter__text {
    font-size: clamp( 0.9375rem , 0.6955645161rem  +  0.5040322581vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.6955645161rem  +  0.5040322581vw , 1.25rem )) {
  .counter__text {
    font-size: calc(0.9375rem + 0.3125 * (100vw - 48rem) / 62);
  }
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .targetsmobile {
    display: none;
  }
}

@media (min-width: 61.99875em) {
  .targetsmobile {
    display: none;
  }
}

@media (min-width: 108.125em) {
  .menu__item:not(:last-child) {
    padding-right: inherit;
  }
}

@media (min-width: 110em) {
  .targetsmobile {
    display: none;
  }
}

@media (max-width: 110em) {
  .targets__round {
    left: -45px;
  }

  .targets__symbol {
    right: 0px;
  }

  .services__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services__list {
    padding-top: 12.5rem;
  }

  .services__karusel {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }

  .services__slide {
    padding-top: 0rem;
  }

  .services__slide-text {
    max-width: 26.25rem;
  }

  .services__slide-imagebox {
    top: 7.5rem;
    left: 23.125rem;
  }

  .list__title {
    padding-bottom: 2.8125rem;
  }

  .list__items {
    display: none;
  }
}

@media (max-width: 48em) {
  .menu__item:not(:last-child) {
    padding-right: inherit;
  }
}

@media (max-width: 81.25em) {
  .list__title::before {
    -webkit-transform: translate(-39%, -33%);
        -ms-transform: translate(-39%, -33%);
            transform: translate(-39%, -33%);
  }
}

@media (max-width: 65.625em) {
  .services__karusel {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (max-width: 61.99875em) {
  .fullscreenblock__line {
    background-position: -100px 50px;
  }

  .services__button {
    left: 72%;
  }

  .list__title::before {
    -webkit-transform: translate(-39%, -40%);
        -ms-transform: translate(-39%, -40%);
            transform: translate(-39%, -40%);
  }
}

@media (max-width: 51.875em) {
  .swiper-pagination {
    left: 150px;
  }

  .swiper-button-prev {
    left: 122px;
  }

  .swiper-button-next {
    left: 148px;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .header_contacts {
    padding-right: 20px;
  }

  .menu__body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: #EDEDED;
    padding-bottom: 1.875rem;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }

@supports (padding-top: clamp( 6.5625rem , 5.5208333333rem  +  5.2083333333vw , 11.25rem )) {
    .menu__body {
      padding-top: clamp( 6.5625rem , 5.5208333333rem  +  5.2083333333vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 6.5625rem , 5.5208333333rem  +  5.2083333333vw , 11.25rem )) {
    .menu__body {
      padding-top: calc(6.5625rem + 4.6875 * (100vw - 20rem) / 90);
    }
}

  .menu__body::before {
    content: "";
    top: -100%;
    position: fixed;
    width: 100%;
    left: 0;
    -webkit-transition: top 0.3s ease 0s;
    -o-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
    background: rgba(237, 237, 237, 0.8431372549);
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    top: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .menu__item:not(:last-child):not(:last-child) {
    margin-bottom: 2.25rem;
  }

  .menu__link {
    font-size: 1.75rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #18191A;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .fullscreenblock__line {
    background-position: -120px -20px;
  }

  .fullscreenblock__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 70px;
  }

  .fullscreenblock__title {
    padding-top: 4.375rem;
  }

  .targets__content {
    display: none;
  }

  .targets__round {
    display: none;
  }

  .targets__symbol {
    display: none;
  }

  .targetsmobile {
    text-align: center;
  }

  .services__button {
    left: 68%;
  }

  .counter__bacgrounddecor {
    -webkit-transform: rotate(90deg) scale(1, 1.2);
        -ms-transform: rotate(90deg) scale(1, 1.2);
            transform: rotate(90deg) scale(1, 1.2);
    left: -510px;
  }

  .counter__linedecor {
    -webkit-transform: scale(0.5, 1.5);
        -ms-transform: scale(0.5, 1.5);
            transform: scale(0.5, 1.5);
  }

  .counter__title {
    padding-bottom: 5.3125rem;
    font-size: 2.625rem;
  }

  .counter__counts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .counter__block {
    text-align: center;
  }

  .counter__block:not(:last-child) {
    padding-right: 0rem;
    padding-bottom: 5.3125rem;
  }

  .counter__count {
    font-size: 5rem;
  }

  .counter__text {
    font-size: 1.25rem;
  }
}

@media (max-width: 47.99875em) and (max-width: 47.99875em) {
  .menu__body::before {
    height: 75px;
  }
}

@media (any-hover: hover) {
  .header__mail:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__telephone:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__item:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__link:hover {
    border-bottom: 2px solid #D03333;
    font-weight: 600;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .scroll__text:hover {
    color: #D03333;
    font-weight: 600;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .targets__link-icon1:hover::after {
    font-family: icons;
    content: "\e910";
    color: #D03333;
    text-shadow: none;
    font-size: 50%;
    position: absolute;
    top: 10%;
    right: -30px;
  }

  .targets__link-icon2:hover::after {
    font-family: icons;
    content: "\e910";
    color: #D03333;
    text-shadow: none;
    font-size: 50%;
    position: absolute;
    top: 10%;
    right: -30px;
  }

  .targets__link-icon3:hover::after {
    font-family: icons;
    content: "\e910";
    color: #D03333;
    text-shadow: none;
    font-size: 50%;
    position: absolute;
    top: 10%;
    right: -30px;
  }

  .swiper-button-next:hover {
    color: #D03333;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

.webp .list__title::before{ background-image: url(../img/backgtitile.webp); }

.webp .counter__bacgrounddecor{ background-image: url(../img/backgroundcounter.webp); }